---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getAbsoluteUrl } from "@/utils/getBaseUrl";
---

<BaseLayout title="Home">
  <main class="space-y-8">
    <h1 class="text-4xl font-bold">UI Practice</h1>
    <a href="https://github.com/is78-dev/ui-practice" class="block">github</a>
    <ul class="space-y-2 list-disc pl-5">
      <li><a href={getAbsoluteUrl("/react-demo")}>react-demo</a></li>
      <li><a href={getAbsoluteUrl("/vue-demo")}>vue-demo</a></li>
    </ul>
  </main>
</BaseLayout>
